html {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

h2 {
  color: black;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.skip-map {
  position: fixed;
  left: 0;
  top: -500px;
  background: #BF1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-map:focus {
  position: fixed;
  left: 0px;
  top: 0px
}

.App-header {
  background-color: #222;
  color: white;
  flex: 0 0 40px;
}

.App-title {
  font-size: 1em;
}

#maincontent {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#map-container {
  height: 50%;
  /* flex: 1 0 50%; */ /*this is alternative to height */
  z-index: 100;
}
.leaflet-map {
  width: 100%;
  height: 100%;
}

@keyframes jump {
  from { top: -10px; }
}

.blinking {
  animation: jump 0.3s infinite alternate;
}


/* places list */

#places-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.query-input {
  font-size: 1.5em;
  border-width: 2px 0 2px 0;
  width: 100%;
  flex: 0 0 40px;
}

.query-input:focus {
  background-color: #ffa;
}

.places-list {
  padding: 0;
  margin: 0;
  flex: 1;
  overflow: auto;
}

.places-list li {
  list-style: none;
  -webkit-padding-start: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial,sans-serif;
  padding: 0;
  text-align: left;
  width: 100%;
}

.place-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.selected-place button {
  background-color: #ffd;
}

.selected-place button:focus {
  outline: 0;
  background-color: #ffa;
}

li button {
  width: 100%;
  background-color: #fff;
  border-width: 0;
  border-bottom-width: 1px;
  padding: 0;
}

.place-profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.place-header {
  width: 100%;
  margin-left: 2%;
  justify-content: space-between; /* align horizontal */
  align-items: center; /* align vertical */
  display: flex;
  flex-wrap: wrap;
}

.place-name {
  min-width: 96%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fsq-rating {
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  /* opacity: 0.5; */
}

.fsq-missing-msg {
  color: gray;
}

.keywords {
  text-align: left;
  margin-top: 0;
  margin-left: 2%;
  width: 96%;

  /* opacity: 0.8; */
}

.place-main-content {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 2%;
  width: 100%;
}

.place-img {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  margin-bottom: 5px;
}

.fsq-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.place-main-text {
  max-width: 300px;
}

.fsq-address {
  text-align: left;
}

.fsq-tip {
  text-align: left;
}

.external-links {
}

.small_logo {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 300px) {
  .place-main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .place-img {
    width: 110px;
    height: 110px;
    padding-top: unset;
  }

  .place-main-text {
    margin-left: 2%;
    max-width: unset;
    flex: 1;
  }

  .fsq-address {
    margin-top: 0;
  }
}

@media screen and (min-width: 800px) {
  #maincontent {
    flex-direction: row;
  }

  #map-container {
    height: 100%;
    flex: 0 0 60%;
  }

  #places-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  /* remove top border when wide screen */
  .query-input {
    border-width: 0 0 2px 0;
  }

}
